@charset "UTF-8";

/* form 요소에 대한 스타일 설정 */
form {
  max-width: 600px; /* 폼의 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}


/* 제목 설정 */
h1 {
  text-align: center; /* 가운데 정렬 */
}

/* 라벨 설정 */
label {
  display: block; /* 블록 레벨 요소로 변경해서 줄바꿈 되도록 함 */
  margin-bottom: 5px; /* 아래쪽 여백 설정 */
}

/* 텍스트 입력 필드와 비밀번호 입력 필드에 대한 스타일 설정 */
input[type="text"],
input[type="password"] {
  display: block; /* 블록 레벨 요소로 변경해서 줄바꿈 되도록 함 */
  width: 100%; /* 너비 100%로 설정 */
  padding: 10px; /* 안쪽 여백 설정 */
  margin-bottom: 15px; /* 아래쪽 여백 설정 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 3px; /* 테두리 둥글게 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
}

/* 텍스트 영역에 대한 스타일 설정 */
textarea {
  display: block; /* 블록 레벨 요소로 변경해서 줄바꿈 되도록 함 */
  width: 100%; /* 너비 100%로 설정 */
  padding: 10px; /* 안쪽 여백 설정 */
  margin-bottom: 15px; /* 아래쪽 여백 설정 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 3px; /* 테두리 둥글게 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  height: 200px; /* 높이 200px로 설정 */
}



/* 버튼 그룹에 대한 스타일 설정 */
.button-group {
  display: flex; /* 플렉스 박스로 변경해서 버튼을 옆으로 나열 */x`
}

/* 전송 버튼과 취소 버튼을 담는 div 요소에 대한 스타일 설정 */
.button-container {
  display: flex; /* 플렉스 컨테이너로 설정 */
  justify-content: center; /* 플렉스 항목 가운데 정렬 */
  margin-top: 20px; /* 위쪽 여백 설정 */
}

/* 전송 버튼과 취소 버튼에 대한 스타일 설정 */
button[type="submit"],
#cancel {
  width: 50px;
  flex-grow: 1; /* 플렉스 항목의 너비 비율 설정 */
  margin-right: 10px; /* 오른쪽 여백 설정 */
  background-color: #333; /* 배경색 검정색으로 변경 */
  color: #fff; /* 글자색 설정 */
  border: none; /* 테두리 없음 */
  border-radius: 3px; /* 테두리 둥글게 설정 */
  padding: 10px ; /* 안쪽 여백 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  cursor: pointer; /* 커서 모양 변경 */
}

/* 전송 버튼이 마지막 항목일 경우 오른쪽 여백 없애기 */
button[type="submit"]:last-child {
  margin-right: 0;
}

/* 글 작성 버튼 */
.fl-write-btn {
   height: 40px;
   margin-left: 10px;
   border: none;
   border-radius: 5px;
   background-color: #333;
   color: #fff;
   padding: 5px 10px;
   font-size: 16px;
   cursor: pointer;
}

/* 검색창 */

.fl-search-container {
   display: flex;
   align-items: center;
   /* background-color: #f2f2f2; */
   padding: 10px;
   border-radius: 5px;
   /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
   max-width: 1000px;
   margin: 0 auto;
   width : 700px;
}

.fl-search-select {
   text-align: center;
   height: 40px; /* 높이 추가 */
   padding: 5px 10px;
   border: 1px solid #ccc;
   background-color: transparent;
   font-size: 16px;
   margin-right: 10px;
   cursor: pointer;
   border-radius: 5px; /* 둥근 모양 추가 */
   float : left;
}

.fl-search-select:focus {
   outline: none;
}

.fl-search-select option {
   font-size: 16px;
}

input[type="text"] {
   padding: 5px 10px;
   border: 1px solid #ccc;
   background-color: transparent;
   font-size: 16px;
   flex: 1;
   border-radius: 5px; /* 둥근 모양 추가 */
}

input[type="text"]:focus {
   outline: none;
}


.fl-search-container {
   display: flex;
   margin-top: 20px;
   align-items: center;
}

.fl-search-container input[type="text"] {
   flex: 1;
   height: 40px;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 5px;
   font-size: 16px;
   width: 300px; /* 검색창의 너비를 부모 요소의 80%로 설정 */
   float : left;
}

/* 검색 버튼 */
.fl-search-container .fl-search-btn {
   height: 40px;
   margin-left: 10px;
   border: none;
   border-radius: 5px;
   background-color: #333;
   color: #fff;
   padding: 5px 10px;
   font-size: 16px;
   cursor: pointer;
}

/* 버튼 컨테이너 */
.fv-button-container {
  text-align: center;
  margin-top: 20px;
}

/* 버튼 */
.fv-btn-list, .fv-btn-update, .fv-btn-delete, .fv-btn-ok, .fv-btn-singo{
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.fv-btn-list {
  background-color: #333;
}

.fv-btn-update {
  background-color: #428bca;
}

.fv-btn-delete {
  background-color: #d9534f;
}

.fv-btn-ok{
 background-color: #333;
}

.fv-btn-singo{
	background-color: #d9534f;
}


.replytext{
	 display: block;
}